html, body{
	overflow: hidden;
	height: 100%;
}

#container-video-header {
	max-width: 100%; 
	margin: 0; 
	padding: 0; 
	position: relative;
}
#header {
	font-size: 20px;
	width: 100%;
	max-width: 100%;;
	background: #222222;
	z-index: 9999;
	text-align: center;
}

#video-header { position: relative; }

#cta-video {
	position: absolute;
	display: block;
	height: 40px;
	width: 200px;
	bottom: 60px;
}

.block-titre-footer {
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	border-bottom: 1px solid white;
}

.logo-footer {
	max-width: 30px;
}

.subtitle-footer {
	font-size: 15px;
	color: #555555;
}

.subtitle-footer:hover {
	text-decoration: underline;
}

.inline-block {
	display: inline-block;
}

.menu-header {
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
}

.block-link-footer p {
	font-size: 14px;
	margin-bottom: 0;
	color: #555555;
}


/* Slideshow container */
.slideshow-container 
{
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.text-stat
{
	font-family: 'Raleway';
	font-size: 20px;	
	margin-bottom: 0px;
	line-height: 1;

}

.text-stat-bold
{
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0px;
	line-height: 1;
}

/*SLIDER*/
.arrow-n
{
	transition: .2s all "swing";
	position: absolute; right: 20px; top: 380px; cursor: pointer
}

.arrow-p
{
	transition: .2s all "swing";
	position: absolute; left: 20px; top: 380px; transform:rotate(180deg); cursor: pointer
}

.arrow-n:hover
{
	transform: scale(1.15);
}

.arrow-p:hover
{
	transform: scale(1.15) rotate(180deg);	
}

.arrow-n:active
{
	transform: scale(0.9);
}

.arrow-p:active
{
	transform: scale(0.9) rotate(180deg);	
}

.bx-viewport {
	position: static!important; /* center to page correctly */
	border: 0!important; /* border */
	-webkit-box-shadow: none!important; /* these two shadows */
	box-shadow: none!important;
}
.bxslider-inner {
	vertical-align: middle;
	display: inline-block;
	float: none !important;
}
.padding-left{padding-left: 0}


#header a,
#header p {
	font-family: 'Raleway';
	color: white;
	font-weight: bold;
}
#header p:hover {
	color: #f6bb35;
}

.full {
	min-height: 100vh;
	max-width: 100%;
}

.button-border {
	display: inline-block; 
	height: 18px; 
	background: #f6bb35;  
	padding-left: 20px; 
	padding-right: 20px; 
	border-radius: 15px; 
	margin-bottom: 3px;
}

#logo-ideas {
	padding-left: 20px;
	padding-right: 20px;
}

.button-border p {
	color: white; 
	font-size: 12px; 
	padding-bottom: 5px; 
	font-weight: bold
}
.border-text {
	display: inline-block; 
	margin-bottom: 0; 
	font-family: 'Raleway'; 
	font-size: 18px; 
	color: #222222;
}
.border-text-container {
	display: inline; 
	padding-top: 20px; 
	padding-bottom: 20px; 
	border-top: 1px solid #555555; 
	border-bottom: 1px solid #555555;
}

#logo-idead {
	display: inline-block; 
	padding-left: 40px; 
	padding-right: 40px;
}
@media screen and (max-width: 1010px) {
	.border-text-container {
		border: 0;
	}

	.block-tel-footer {
		padding-top: 30px;
	}
}

@media screen and (max-width: 640px) {
	.border-text-container {
		border: 0;
	}
	#logo-efqm {
		padding-top: 40px;
	}

	#logo-ideas {
		padding-right: 0;
	}

	.box-footer {
		padding-top: 30px;
	}
}

@media screen and (min-width: 640px) {
	.arrow-n{right: 5%;}
	.arrow-p{left: 5%;}
}
@media screen and (min-width: 900px) {
	.arrow-n{right: 20%;}
	.arrow-p{left: 20%;}
}
@media screen and (min-width: 1200px) {
	.arrow-n{right: 27%;}
	.arrow-p{left: 27%;}
}
@media screen and (min-width: 1600px) {
	.arrow-n{right: 30%;}
	.arrow-p{left: 30%;}
}
@media screen and (min-width: 640px) {
	.padding-left{padding-left: 100px;}
}
















