#header {
	max-width: 100%;;
	color: white;
	background: #222222;
	position: sticky;
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.menu-header {
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0;
}